h1{
  color: green;
  font-family: helvetica;
}

h2{
  color: blue;
}


p{
  font-family: helvetica;
}

footer{
  margin-top: 20px;
}

img{
  border-radius: 10px;
}

#acerca{
  font-style: normal;
}

li{
  font-style: italic;
  s
}
#encabezado{
  display: block;
  margin: 0 auto;
}
.enlace{
  color: green  
}